body{background-image: url(img/fondo.jpg);}
#introduccion{
   
            background: rgb(79, 113, 226);        
    width: 330px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(6, 84, 104, 0.808);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
            
}